header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: solid 1px #CCCCCC;
}

.logo {
    display: flex;
    width: 142px;
    height: 60px;
    background: #FFFFFF url("../images/logo.png") no-repeat center center;
    padding: 6px 0px 0px 20px;
    align-items: center;
}
