html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0px 0px 60px 0px;
    padding: 0;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #484848;
    font-size: 14px;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
}
