.filters {
    display: flex;
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    align-items: center;
}

.filters button {
    margin-left: auto;
    margin-right: 30px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
}

.filters button:hover {
    opacity: .9;
}

.locations, .amenities {
    margin-left: 30px;
    height: 100%;
    width: 25%;
}

.filters div:first-child {
    border-right: solid #DDDDDD 1px;
}

h3 {
    margin: 12px 10px 0px 10px;
    padding: 0px;
    font-weight: 600;
}

h4 {
    margin: 6px 10px;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
}